@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
* {
  font-family: Libre Baskerville, sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: black;
}

.connexionform{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}


/* IMAGE DE FOND INDEX */

#imgfond1{
  background-image: url(img/img12.jpeg);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}


/* IMAGE DE FOND INSCRIPTION */

#imgfond2{
  background-image: url(img/img2.jpeg);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}


/* IMAGE DE FOND PLANNING */

#imgfond3{
  background-image: url(img/img6.jpeg);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}


/* IMAGE DE FOND PROFIL */

#imgfond4{
  background-image: url(img/img11.jpeg);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}


/* IMAGE DE FOND CONNEXION */

#imgfond5{
  background-image: url(img/img8.jpeg);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}


/* IMAGE DE FOND RESAFORM */

#imgfond6{
  background-image: url(img/img9.webp);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}


/* IMAGE DE FOND RESERVATION */

#imgfond7{
  background-image: url(img/img10.png);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}



.profilform{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}


.h1a{
  text-align: center;
  font-weight: bolder;
  color: black;
  
}


/*  FOOTER  */

.footer {
  text-align: center;
  padding: 3px;
  background-color: #826AED;
  position:absolute;
  bottom:0;
  width: 100%;
}


/*  HEADER  */



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #826AED;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  
  /* Pour changer la couleur de la navbar quand on passe la souris  */
 li a:hover {
    background-color: #C879FF;
  }
