@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&display=swap");
* {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 1em;
  color: black;
}

.connexionform{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#imgfond1{
  background-image: url(img/img2.jpeg);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}

#imgfond2{
  background-image: url(img/img2.jpeg);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}

#imgfond3{
  background-image: url(img/img2.jpeg);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}

#imgfond4{
  background-image: url(img/img2.jpeg);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}

#imgfond5{
  background-image: url(img/img2.jpeg);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}

#imgfond6{
  background-image: url(img/img2.jpeg);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}

#imgfond7{
  background-image: url(img/img2.jpeg);
  background-size: cover;
  text-align: center;
  margin-top: 0%;
}

.profilform{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}


.h1a{
  text-align: center;
  font-weight: bolder;
  color: rgb(31, 92, 74);;
  
}


/*  FOOTER  */

.footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(31, 92, 74);
  position:absolute;
  bottom:0;
  width: 100%;
}


/*  HEADER  */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(31, 92, 74);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Pour changer la couleur de la navbar  */
  li a:hover {
    background-color: rgb(188, 214, 197);
  }
